#dm-about {
    padding-top: 144px;
    padding-bottom: 144px;
}

#dm-about .dm-title-2 {
    color: var(--gray-3);
}

.dm-about-card {
    min-height: 25.813rem;
    margin-top: 60px;
    background-color: var(--gray-1);
    border-color: var(--gray-2);
}

#dm-about .dm-card-title {
    color: var(--gray-10);
}

.dm-nav-link {
    font-size: 16px;
    line-height: 1.4;
    color: var(--gray-13);
}

.dm-nav-link:hover {
    color: var(--blue-6);
}

.dm-nav-link.active {
    background-color: var(--blue-6) !important;
    color: var(--gray-1) !important;
}

.dm-skill-content p {
    font-size: 16px;
    line-height: 1.4;
}

.dm-skill-content .dm-progress {
    background-color: var(--gray-3) !important;
}

.dm-skill-content .dm-progress-bar {
    width: 0%;
    background-color: var(--blue-1) !important;
}

@media screen and (max-width: 991px) {
    .dm-about-card {
        min-height: 22.5rem;
    }
}

@media screen and (max-width: 767px) {
    #dm-about {
        padding-top: 108px;
        padding-bottom: 108px;
    }

    .dm-about-card .card-body {
        min-height: 35.938rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-about {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .dm-about-card {
        margin-top: 48px;
    }
}