#dm-wrapper {
    background: url("../img/bg-intro.jpg") no-repeat center;
    background-size: cover;
}

.dm-title-2 {
    font-size: 110px;
    line-height: 1.1;
    color: var(--gray-3);
}

.dm-text {
    font-size: 20px;
    line-height: 1.4;
    color: var(--gray-10);
}

.dm-text-bold {
    color: var(--blue-11);
}

.dm-card-title {
    font-size: 18px;
    line-height: 1.8;
}

.dm-card-title::before {
    content: "";
    width: 5px;
    height: 20px;
    display: inline-block;
    background: var(--gradient);
    border-radius: 4px;
    position: absolute;
    left: -3px;
}

.dm-btn-outline-blue {
    color: var(--blue-1);
    border-color: var(--blue-1);
    transition: .3s;
}

.dm-btn-outline-blue:hover {
    color: var(--gray-13);
    background-color: var(--blue-1);
}