#dm-wrapper {
    background: url("../img/bg-intro.jpg") no-repeat center;
    background-size: cover;
}

.dm-title-1 {
    font-size: 64px;
    line-height: 1.1;
    color: var(--gray-1);
}

.dm-title-2 {
    font-size: 110px;
    line-height: 1.1;
    color: var(--gray-3);
    word-wrap: break-word;
}

.dm-title-3 {
    font-size: 48px;
    line-height: 1.1;
    color: var(--gray-8);
}

.dm-text {
    font-size: 20px;
    line-height: 1.4;
    color: var(--gray-10);
}

.dm-text-bold {
    color: var(--blue-11);
}

.dm-card-title {
    font-size: 18px;
    line-height: 1.4;
}

.dm-card-title::before {
    content: "";
    width: 5px;
    height: 20px;
    display: inline-block;
    background: var(--blue-6);
    border-radius: 4px;
    position: absolute;
    left: -3px;
}

.dm-card-title-icon {
    font-size: 18px;
    line-height: 1.4;
}

.dm-card-title-icon i {
    display: inline-block;
    position: absolute;
    left: -12px;
    color: var(--blue-6);
    font-size: 22px;
}

.dm-btn-outline-blue {
    color: var(--blue-1);
    border-color: var(--blue-1);
    transition: .3s ease-in-out;
}

.dm-btn-outline-blue:focus {
    outline: none;
    box-shadow: none;
}

.dm-btn-outline-blue:hover {
    color: var(--gray-13);
    background-color: var(--blue-1);
    transition: .3s ease-in-out;
}

/** Pace */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
  
.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: var(--blue-1);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

/** Header progress */
#dm-header-progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  #dm-header-progress {
    width: 100%;
    height: 5px
  }
  
  #dm-header-progress-bar {
    height: 5px;
    background: var(--blue-1);
    width: 0%;
  }