#dm-services {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background: var(--gray-1);
}

#dm-services .dm-title-2 {
    color: var(--gray-4);
}

.dm-services-card {
    min-height: 13.875rem;
    background-color: var(--gray-2);
    border-color: var(--gray-3);
}

.dm-card-lg {
    min-height: 15.625rem;
}

#dm-services .dm-card-title-icon {
    color: var(--gray-10);
}

.dm-services-card .dm-text {
    color: var(--gray-13);
}

.dm-services-tech {
    gap: 1rem;
}

.dm-services-tech span {
    font-size: 1em;
    line-height: 1.4;
    background: var(--blue-1);
    color: var(--gray-13);
}

@media screen and (max-width: 767px) {
    #dm-services {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }

    .dm-services-card p {
        margin-bottom: 1.5rem;
    }

    .dm-card-lg {
        min-height: 13.75rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-services {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}