#dm-services {
    padding-top: 144px;
    padding-bottom: 144px;
    background: var(--gray-1);
}

#dm-services .dm-title-2 {
    color: var(--gray-4);
}

.dm-services-card {
    min-height: 222px;
    background-color: var(--gray-2);
    border-color: var(--gray-3);
}

.dm-card-lg {
    min-height: 250px;
}

#dm-services .dm-card-title-icon {
    color: var(--gray-10);
}

.dm-services-card .dm-text {
    color: var(--gray-13);
}

.dm-services-tech {
    gap: 1rem;
}

.dm-services-tech span {
    font-size: 16px;
    line-height: 1.4;
    background: var(--blue-1);
    color: var(--gray-13);
}

@media screen and (max-width: 767px) {
    #dm-services {
        padding-top: 108px;
        padding-bottom: 108px;
    }

    .dm-services-card p {
        margin-bottom: 24px;
    }

    .dm-card-lg {
        min-height: 13.75rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-services {
        padding-top: 78px;
        padding-bottom: 78px;
    }
}