#dm-education {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: var(--black-3);
}

#dm-education .dm-title-2 {
    color: var(--black-1);
}

.dm-education-card {
    background-color: var(--black-2);
}

#dm-education .dm-card-title {
    color: var(--gray-4);
}

#dm-education .dm-card-title-icon {
    color: var(--gray-4);
}

#dm-education p {
    font-size: 1.25rem;
    line-height: 1.4;
    color: var(--gray-1);
}

#dm-education span {
    font-size: 1.125rem;
    line-height: 1.4;
    color: var(--gray-3);
}

.dm-list-courses {
    font-size: 1.25rem;
    color: var(--gray-1);
}

@media screen and (max-width: 767px) {
    #dm-education {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-education {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}