#dm-education {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background: var(--gray-13);
}

#dm-education .dm-title-2 {
    color: var(--gray-10);
}

.dm-education-card {
    background-color: var(--gray-11);
    border-color: var(--gray-12);
}

#dm-education .dm-card-title {
    color: var(--gray-8);
}

#dm-education .dm-card-title-icon {
    color: var(--gray-8);
}

#dm-education p {
    font-size: 1.25em;
    line-height: 1.4;
    color: var(--gray-1);
}

#dm-education span {
    font-size: 1.125em;
    line-height: 1.4;
    color: var(--gray-4);
}

.dm-list-courses {
    font-size: 1.25em;
    color: var(--gray-1);
}

@media screen and (max-width: 767px) {
    #dm-education {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-education {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}