#dm-footer {
    padding-top: 9rem;
    background: var(--blue-6);
}

#dm-contact {
    padding-bottom: 2rem !important;
    background: var(--gray-13);
    top: -13.5rem;
    box-shadow: 0 1px 2px rgba(20, 20, 20, .1), 0 4px 8px rgba(20, 20, 20, .2);
}

#dm-contact p {
    font-size: 1.25em;
    line-height: 1.4;
    color: var(--gray-1);
}

#dm-communication {
    padding-top: 4.5rem;
}

#dm-communication i {
    font-size: 1.5em;
    color: var(--blue-1);
}

#dm-communication p {
    font-size: 1.125em;
    line-height: 1.4;
    color: var(--gray-4);
}

#dm-communication span {
    font-size: 1.125em;
    line-height: 1.4;
    color: var(--gray-1);
}

#dm-copyright {
    margin-top: 2.5rem;
    background: var(--blue-1);
}

#dm-copyright p {
    font-size: 1.125em;
    line-height: 1.4;
    color: var(--gray-13);
}

@media screen and (max-width: 1199px) {
    #dm-contact .dm-title-3 {
        text-align: center !important;
        margin-bottom: .5rem;
    }

    #dm-contact p {
        margin-bottom: 2rem;
    }

    #dm-contact div:last-of-type {
        text-align: center !important;
    }

    #dm-communication {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 991px) {
    #dm-communication {
        padding-top: 11.75rem;
    }
}

@media screen and (max-width: 767px) {
    #dm-communication {
        padding-top: 12.375rem;
    }

    #dm-copyright {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    #dm-copyright p { 
        text-align: center;
        margin-bottom: 1.5rem;
    }

    #dm-copyright #dm-footer-logo {
        justify-content: center !important;
    }
}

@media screen and (max-width: 575px) {
    #dm-contact {
        top: -11.25rem;
        left: 0;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }

    #dm-communication {
        padding-top: 14.875rem;
    }
}