/** Custom Bootstrap */
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
/** --------------------------- */

#dm-header {
    position: fixed;
    clear: both;
    width: 100%;
    min-height: .063rem;;
    z-index: 1000;
    transition: .3s ease-out;
}

#dm-header.menu-bg {
    background-color: var(--purple-2);
    box-shadow: 0 1px 2px rgba(20, 20, 20, .1), 0 4px 8px rgba(20, 20, 20, .2);
    transition: .3s ease-in;
}

#dm-header .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: .3s ease-out;
}

#dm-header .navbar.menu-bg {
    padding-top: .25rem;
    padding-bottom: .25rem;
    transition: .3s ease-in;
}

#dm-header-logo {
    transition: .3s ease-out;
}

#dm-header-logo.change-logo {
    transform: scale(.8);
    transition: .3s ease-in;
}

#dm-header-logo path {
    transition: .3s ease-out;
}

#dm-header-logo:hover path {
    stroke: var(--gray-1);
    transition: .3s ease-in;
}

#dm-header #dm-header-menu a {
    font-size: 1.125em !important;
    line-height: 1.4;
    color: var(--gray-1);
    min-height: .063rem;
    display: inline-block;
}

#dm-header-menu a:not(#dm-header-contact):hover {
    color: var(--purple-1) !important;
}

#dm-header-menu a#dm-header-contact:hover {
    color: var(--black-3) !important;
}

#dm-header-menu a:not(#dm-header-contact)::after {
    content: "";
    display: block;
    background-color: var(--purple-1);
    height: .125rem;
    width: 0;
    transition: .3s ease-in;
  }

#dm-header-menu a:not(#dm-header-contact):hover::after {
    width: 100%;
}

#dm-header-menu a:not(#dm-header-contact).link-active {
    color: var(--purple-1) !important;
}

#dm-header-menu a.link-active:not(#dm-header-contact)::after {
    content: "";
    display: block;
    background-color: var(--purple-1);
    height: .125rem;
    width: 100%;
    transition: .3s ease-out;
}

/** Type writter effect */
.dm-title-1:after{
    content: "|";
    font-weight: 500;
    margin-left: 0;
    opacity: 1;
    animation: blink .7s infinite;
}
   
@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/** MOBILE */
#btn-mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    #dm-header-menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        top: 6.063rem;
        right: 0;
        background-color: var(--purple-3);
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        padding-top: 1rem;
        transition: .3s ease-out;
    }

    #dm-header-menu.menu-bg {
        top: 4.563rem;
    }

    #dm-header-menu.active {
        height: calc(100vh - 97px);
        visibility: visible;
        overflow-y: auto;
        transition: .3s ease-in;
    }

    #dm-header-menu li {
        padding: .5rem 0;
        margin: 0 .5rem;
    }

    #dm-header #dm-header-menu a:not(#dm-header-contact) {
        display: inline-block;
    }

    #dm-header #dm-header-menu a#dm-header-contact {
        margin-top: .5rem;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #icon-hamburger {
        width: 1.25rem;
        border-top: 2px solid;
        display: block;
        color: var(--gray-1);
        border-radius: 1px;
    }

    #icon-hamburger::after, #icon-hamburger::before {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: .375rem;
        position: relative;
        border-radius: .25rem;
        transition: .3s ease-in;
    }

    #btn-mobile.active #icon-hamburger {
        border-top-color: transparent;
    }

    #btn-mobile.active #icon-hamburger::before {
        transform: rotate(135deg);
        background-color: var(--purple-1);
    }

    #btn-mobile.active #icon-hamburger::after {
        transform: rotate(-135deg);
        top: -.5rem;
        background-color: var(--purple-1);
    }
}

@media screen and (max-width: 575px) {
    #dm-header #dm-header-menu a {
        display: block;
        font-size: 1rem !important;
    }
}