#dm-intro {
    padding-top: 2.125rem;
    padding-bottom: 16.5625rem;
}

.dm-intro-content {
    padding-top: 10rem;
    padding-bottom: 3.75rem;
}

.dm-subtitle {
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--gray-2);
}

.dm-intro-social-medias a {
    text-decoration: none;
}

.dm-intro-social-medias a:hover i {
    color: var(--purple-1);
    transition: .3s;
}

.dm-intro-social-medias a i {
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: var(--gray-2);
    transition: .3s;
}

.dm-illustration {
    right: 0;
}

@media screen and (max-width: 575px) {
    .dm-intro-content {
        padding-top: 6.25rem;
    }

    .dm-subtitle {
        font-size: 1.25rem;
    }

    .dm-illustration {
        bottom: 36px;
    }
}