#dm-portfolio {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.dm-portfolio-content {
    margin-top: 3.75rem;
}

.dm-card-sunnyhouse, .dm-card-sair, .dm-card-sisgee {
    font-size: 20px;
    line-height: 1.4;
    color: var(--gray-1);
    min-height: 15.625rem;
    transition: .3s ease-out;
}

.dm-portfolio-info {
    display: none;
}

.dm-portfolio-info.dm-portfolio-active {
    display: block;
    animation: showPortfolioInfo .8s forwards;
}

@keyframes showPortfolioInfo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dm-portfolio-info .dm-btn-outline-blue {
    font-size: .9em !important;
}

.dm-portfolio-info p {
    min-height: 7rem;
}

.dm-card-sunnyhouse {
    background: var(--orange)
}

.dm-card-sair {
    background: var(--green);
}

.dm-card-sisgee {
    background: var(--dark-blue);
}

.dm-card-sunnyhouse:hover, .dm-card-sair:hover, .dm-card-sisgee:hover {
    background: var(--gray-13);
    transition: .3s ease-in;
}

#dm-modal-sunnyhouse img, #dm-modal-sisgee img {
    box-shadow: 0 1px 2px rgba(20, 20, 20, .1), 0 4px 8px rgba(20, 20, 20, .2);
}

@media screen and (max-width: 767px) {
    #dm-portfolio {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
}

@media screen and (max-width: 575px) {
    #dm-portfolio {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}