/** VARIABLES */
* {
    /** Font */
    --font: "Fira Sans", Helvetica, Arial, sans-serif;
	
    /** Colors */
    --gray-1: #FAFAFA;
	--gray-2: #E0E0E0;
	--gray-3: #CCC;
	--gray-4: #7A7A7A;
	--black-1: #525252;
	--black-2: #3D3D3D;
	--black-3: #141414;
	--purple-1: #BEBEFF;
	--purple-2: #5C5CCC;
	--purple-3: #2E2E66;
    --orange: #FF8C00;
    --green: #5d7;
	--blue: #1A237E;
    --gradient: linear-gradient(to right bottom, var(--purple-3), var(--purple-2));
}